* {
    padding: 0;
    margin: 0;
}

.hello {
    color: indigo;
    background: url("./banner.jpg");
    height: 120vh;
    padding-top: 10px;
}

.heading {
    font-size: 50px;
    color: white;
    margin-left: 25%;
    margin-top: 5%;
}

.btn {
    background-color: red;
}